@model ParkingZoneApp.ViewModels.ParkingZonesVMs.DetailsVM
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-container {
        background-color: rgba(211, 211, 211, 0.7);
        padding: 20px;
        border-radius: 10px;
        max-width: 600px; /* Adjust as needed */
        margin: auto;
        margin-top: 105px;
        text-align: center;
    }

        .form-container dl {
            text-align: left; /* Align text to the left within dl elements */
        }
</style>


<div class="form-container">
    <h4>Parking Zone Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-12">
            <label>Name</label>
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-12">
            <label>Address</label>
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-12">
            <label>Creation Time</label>
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.DateOfEstablishment)
        </dd>
    </dl>
    <br />
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-dark">Back to List</a>
    </div>
</div>