@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model ParkingZoneApp.Models.ParkingZoneModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (SignInManager.IsSignedIn(User))
{
    <h1>Create</h1>

    <h4>ParkingZoneModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ParkingZoneName" class="control-label"></label>
                    <input asp-for="ParkingZoneName" class="form-control" />
                    <span asp-validation-for="ParkingZoneName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Adress" class="control-label"></label>
                    <input asp-for="Adress" class="form-control" />
                    <span asp-validation-for="Adress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ParkingZoneDateOfEstablishment" class="control-label"></label>
                    <input asp-for="ParkingZoneDateOfEstablishment" class="form-control" />
                    <span asp-validation-for="ParkingZoneDateOfEstablishment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
    @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

}
else
{
    <h1>User not signed in</h1>
}