@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<style>

    a {
        text-decoration: none;
    }

    body {
        background: -webkit-linear-gradient(bottom, #2dbd6e, #a6f77b);
        background-repeat: no-repeat;
    }

    label {
        font-family: "Raleway", sans-serif;
        font-size: 11pt;
    }

    #sign-in {
        color: #2dbd6e;
        font-family: "Raleway", sans-serif;
        font-size: 10pt;
        margin-top: 13px;
        text-align: right;
    }

    #card {
        background: #fbfbfb;
        border-radius: 30px;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
        height: 420px;
        margin: 6rem auto 8.1rem auto;
        width: 329px;
    }

    #card-content {
        padding: 12px 44px;
    }

    #card-title {
        font-family: "Raleway Thin", sans-serif;
        letter-spacing: 4px;
        padding-bottom: 23px;
        padding-top: 13px;
        text-align: center;
    }

    #submit-btn {
        background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
        border: none;
        border-radius: 21px;
        box-shadow: 0px 1px 8px #24c64f;
        cursor: pointer;
        color: white;
        font-family: "Raleway SemiBold", sans-serif;
        height: 42.3px;
        margin: 0 auto;
        margin-top: 18px;
        transition: 0.25s;
        width: 153px;
    }

        #submit-btn:hover {
            box-shadow: 0px 1px 18px #24c64f;
        }

    #UserEmailLabel, #UserPasswordLabel {
        margin-bottom: 5px;
    }

    .form {
        align-items: left;
        display: flex;
        flex-direction: column;
    }

    .form-border {
        background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
        height: 1px;
        width: 100%;
    }

    .form-content {
        background: #fbfbfb;
        border: none;
        outline: none;
        padding-top: 14px;
    }

    .underline-title {
        background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
        height: 2px;
        margin: -1.1rem auto 0 auto;
        width: 140px;
        
    }
</style>

<div id="card">
    <div id="card-content">
        <div id="card-title">
            <h2>Register</h2>
            <p><div class="underline-title"></div></p>
            <form class="form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <label id="UserEmailLabel" for="user-email" style="padding-top:13px">
                    &nbsp;Email
                </label>
                <input id="user-email" asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                <div class="form-border"></div>
                <label id="UserPasswordLabel" for="user-password" style="padding-top:22px">
                    &nbsp;Password
                </label>
                <input id="user-password" asp-for="Input.Password" class="form-control" aria-required="true" placeholder="password" />
                <div class="form-border"></div>
                <label id="passw-confrim" for="password-confirm" style="padding-top:22px" asp-for="Input.ConfirmPassword">
                    &nbsp;Confirm Password
                </label>
                <input id="pasword-confrm" asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <div class="form-border"></div>
                <input id="submit-btn" type="submit" value="Register" />

                <a href="/Identity/Account/Login" id="sign-in">Already have account ?</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
