@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<style>
    .form-container {
        background-color: rgba(211, 211, 211, 0.7);
        padding: 12px 15px;
        border-radius: 10px;
    }
</style>

<h1 style="color: white">Manage your account</h1>

<h2 style="color: white">Change your account settings</h2>
<hr />
<div>
    <div class="row">
        <div class="col-md-3 form-container">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
